:root {
    --border-color: #D9D9D9;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
}
.main-container {
    height: 100vh;
    padding: 2%;
    font-family: 'Roboto', sans-serif; 
}

.modifyContainer {
    display: flex;
    justify-content: space-between;
    /* background: #000; */
}
.btnfilterAll{
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 10, 255, 0.25);
    border-radius: 5px;
    height: 35px;
    padding: 0 8px;
    font-size: 0.8rem;
}

.searchbox {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    font-size: 0.8rem;
}

.searchbox input#search {
    width: 300px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    outline: none;
    font-size: 0.8rem;
    float: left;
    color: #262626;
    padding-left: 40px;
 
    border-radius: 5px;
    transition: all .55s ease;
}

.searchbox input#search::-webkit-input-placeholder {
    color: #65737e;
}

.searchbox .icon {
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 1;
    color: #8A92A6;
}

/* table */
.tableContainer {
    margin-top: 20px;
    height: 60vh;
}
.table-heading {
    background-color: #EAECF0; 
    color: #8A92A6;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
}
.table-body {
    font-size: 13px;
    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.display-row, .item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EAECF0;
}
.item {
    background: #FFFFFF;
}
.item:last-child {
    border-radius: 0 0 5px 5px;
}
.item-stt {
    text-align: center;

}

.item .item-status p {
    text-align: center;
    background: #F1F7FF;
    color: #0065FF;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
}

.col-checkbox {
    min-width: 80px;
    text-align: center;
}
.col-button {
    min-width: 80px;
    background: none;
    text-align: center;
}
input[type='checkbox'] {
    transform: scale(1.25);
   
}   
.col-longtext {
    min-width: 250px;
    padding-right: 5px;
    /* background: rebeccapurple; */
}
.col-shorttext {
    min-width: 150px;
    /* background: rgb(68, 153, 51); */
}
.col-veryshorttext {
    min-width: 100px;
    /* background: rgb(68, 153, 51); */
}
